@import 'variables';

header {
  display: flex;
  justify-content: space-between;
  color: $light_black;
  padding: $component-padding;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo_design {
      border: 2px solid black;
      border-radius: 40%;
      padding: 0.25rem;
      font-size: 0.5rem;
      margin-right: 0.5rem;
      font-family: cursive;
    }
  }

  .auth-container {
    display: flex;

    .btn {
      border-radius: 5px;
      padding: 0.5rem;
      transition: all 0.5s;
    }

    .btn:hover {
      cursor: pointer;
    }

    .login {
      border: solid 1px $background_grey;
    }

    .login:hover {
      border: solid 1px $light_black;
    }

    .signup {
      background: $turq_box;
      color: white;
      margin-left: 0.5rem;
    }

    .signup:hover {
      color: $pop_blue;
      background: white;
    }
  }
}